In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.set_index('PassengerId', inplace=True)
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.set_index('PassengerId', inplace=True)
train_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
import re

def missing_age(df):
    df['Title'] = [re.search(r'(.*\,\s)(.*)(\..*)', name).group(2) for name in df.Name]
    mask = (df.Age.isna())
    df.loc[mask & (df.Title=='Master'), 'Age'] = 10
    df.loc[mask & (df.Title=='Dr'), 'Age'] = 50
    df.loc[mask & (df.Title=='Mr'), 'Age'] = 50
    df.loc[mask & (df.Title=='Mrs'), 'Age'] = 50
    df.loc[mask & (df.Title=='Miss'), 'Age'] = 10
    df.loc[mask & (df.Title=='Ms'), 'Age'] = 50
    return

missing_age(train_data)
missing_age(test_data)

In [5]:
from sklearn.model_selection import train_test_split

y = train_data["Survived"]
X_test, X_train, y_test, y_train = train_test_split(train_data, y)

In [6]:
features = ["Pclass", "Sex", "Parch", "Age"]
X_train = pd.get_dummies(X_train[features])
X_test = pd.get_dummies(X_test[features])
test_data = pd.get_dummies(test_data[features])

In [7]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingClassifier

learning_rate = [0.001, 0.005, 0.01]
n_estimators = [3000, 5000, 10000]
subsample = [1]
criterion = ['friedman_mse']

random_grid = {
               'learning_rate': learning_rate,
               'n_estimators': n_estimators}

# Use the random grid to search for best hyperparameters
# First create the base model to tune
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
model_search = GradientBoostingClassifier()
rf_random = RandomizedSearchCV(estimator = model_search,
                               param_distributions = random_grid, n_iter = 100, cv = 3,
                               verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_search.py:296: UserWarning: The total space of parameters 9 is smaller than n_iter=100. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  UserWarning,

RandomizedSearchCV(cv=3, estimator=GradientBoostingClassifier(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'learning_rate': [0.001, 0.005, 0.01],
                                        'n_estimators': [3000, 5000, 10000]},
                   verbose=2)

In [8]:
rf_random.best_params_

{'n_estimators': 3000, 'learning_rate': 0.001}

In [9]:
from sklearn.metrics import accuracy_score

best_random = rf_random.best_estimator_
best_random.fit(X_train, y_train)
predict_random = best_random.predict(X_test)
random_accuracy = accuracy_score(predict_random, y_test)
accuracy = accuracy_score(best_random.predict(X_train), y_train)
print('Train set accuracy: ' + str(accuracy))
print('Test set accuracy: ' + str(random_accuracy))

Train set accuracy: 0.9103139013452914
Test set accuracy: 0.7604790419161677

In [10]:
base = GradientBoostingClassifier(n_estimators=3000, learning_rate=0.001, subsample=0.08)
base.fit(X_train, y_train)
predict = base.predict(X_test)
random_accuracy = accuracy_score(predict, y_test)
accuracy = accuracy_score(base.predict(X_train), y_train)
print('Train set accuracy: ' + str(accuracy))
print('Test set accuracy: ' + str(random_accuracy))

Train set accuracy: 0.8789237668161435
Test set accuracy: 0.7844311377245509

In [11]:
predict = best_random.predict(test_data)
output = pd.DataFrame({'PassengerId': test_data.index, 'Survived': predict})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!